.c-d-w {
    margin-top: 20px;
}

.c-d-w .input-group {
    width: 30%;
}

.c-d-w .nt-f-w {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 12px 30px 12px 30px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.c-d-w .nt-f-w img {
    width: 30px;
    height: 30px;
}

.c-d-w .nt-f-w h6 {
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 10px;
}

.c-d-w .nt-f-w .fa {
    color: #e74c3c;
    margin-left: 12px;
}

.c-d-w .nt-f-w .fa:hover {
    color: #c0392b;
}

.c-d-w .data .user-profile {
    width: 70px;
    height: 70px;
    border-radius: 1000px;
}

.hide {
    display: block;
}

@media only screen and (max-width:992px) {
    .c-d-w .input-group {
        width: 100%;
    }
    .hide {
        display: none;
    }
}