.d-w {
    margin-top: 20px;
}

.mDW {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dIW {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    align-self: stretch;
    border-radius: 12px;
    overflow: hidden;
    transition: ease-in 0.5s all;
    border: 1px solid #dedcdc;
}

.dIW:hover {
    background-color: #3AAED5;
    color: white;
}

.dsh-item {
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: ease-in 0.5s all;
}

.dsh-item:hover h6 {
    color:white;
}

.dsh-item:hover {
    background-color: #3AAED5;
}

.dsh-item .img {
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    background-size: contain;
    background-repeat: no-repeat;
}

.dsh-item .Man {
    background-image: url('../../assets/dashboard/adduser.svg');
    background-size: contain;
}

.dsh-item .Note {
    background-image: url('../../assets/dashboard/addnote.svg');
    background-size: contain;
}

.dsh-item .Task {
    background-image: url('../../assets/dashboard/addtask.svg');
    background-size: contain;
}

.dsh-item .Cal {
    background-image: url('../../assets/dashboard/addplan.svg');
    background-size: contain;
}

.dsh-item .Rocket {
    background-image: url('../../assets/dashboard/addproject.svg');
    background-size: contain;
}

.dsh-item .folders {
    background-image: url('../../assets/dashboard/folders.svg');
    background-size: contain;
}


.dsh-item .Copy {
    background-image: url('../../assets/dashboard/uploadfile.svg');
    background-size: contain;
}


.dsh-item:hover .folders {
    background-image: url('../../assets/dashboard/folderW.svg');
}
.dsh-item h6 {
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
}


.bgW {
     background-color: white;
}

.dashI {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: #dfe6e9 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashI .dyna {
    width: 65%;
    text-align: left;
}

.dashI .static {
    width: 30%;
    text-align: left;
}

.dLW {
    width: 100%;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;
}

.dSW {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: white;
}

.dIW:hover .d-n, .dIW:hover .d-c, .dIW:hover .extDet {
    color: white
}

.d-n {
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    color: black;
}

.extDet {
    font-size: 12px;
    font-weight: 400;
    margin-top: 24px;
    color: black;
}

.d-c {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

.dIW .dshPad{
    padding: 12px 12px 12px 12px;
    background-color: white;
    border-radius: 1000px;
    border: 1px solid #dedcdc;

}

.dDIW img {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 22px;
    margin-left: 12px;
}

.d-r {
    margin-top: 22px !important;
    margin-bottom: 22px !important;
    margin-right: 22px;
    margin-left: 22px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
}

.dDIW .d-i {
    border-radius: 1000px;
}

.d-d-n {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.dDIW {
    padding: 12px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    align-self: stretch;
}

.dDIW .LIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    border-bottom: 1px solid #dedcdc;
}

.dDIW .LIn:hover {
    background-color: #f9f9f9;
}

.d-d-h {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.d-d-h {
    font-weight: 400;
    font-size: 14px;
}

.d-d-sH {
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    font-size: 14px;
}

.dI {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: #8498a0 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dsh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.dsh .LIw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.ico {
    width: 50px;
    height: 50px;
}

.list-head h6 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    padding: 0px 6px;
}

.btn-str {
    background-color: #192a56;
    color: white;
    font-size: 16px;
}

.btn-str:hover {
    background-color: #273c75;
    color: white;
}

.btn-upt {
    color: #008CBD;
    border: 1px solid #008CBD;
    border-radius: 1000px;
    transition: ease-in-out 0.5 all;
}

.btn-upt:hover {
    background-color: #008CBD;
    color: white;
}

.str-dsh {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    padding: 12px 12px 8px 12px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width:992px) {
    .dsh {
        flex-direction: column;
    }
    .dIW {
        margin-left: 0px;
        margin-right: 0px;
        min-height: 15vh;
    }
    .hide {
        display: none;
    }
    .btn-str {
        margin-top: 12px;
    }
}