.f-w .btn-send {
    font-size: 12px;
    margin-top: 6px;
}

.f-w {
    margin-top: 20px;
}

.f-w .btnAdd {
    margin-top: 12px;
    font-weight: 300;
    background-color: #2c3e50;
    color: white;
}

.f-w .btn .fa {
    padding-right: 10px;
}

.f-w .btnAdd:hover {
    background-color: #34495e;
    color: white;
}

.f-w .msg-o h4, .f-w .msg-m h4 {
    font-size: 11px;
}

.f-w .msg-o p, .f-w .msg-m p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}

.f-w .msg-o h6, .f-w .msg-m h6 {
    font-size: 10px;
    margin-left: auto;
}

.f-w .msg-o, .f-w .msg-m {
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 6px 0 rgba(0, 0, 0, 0.14);
    padding: 6px 12px;
    margin-top: 12px;
}

.f-w .msg-m {
    background-color: #0984e3;
    color: white;
    margin-left: auto;
}

.f-w .msg-o {
    background-color: whitesmoke;
}

.f-w .comment {
    resize: none;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border: #dfe6e9 solid 1px;
    font-size: 12px;
    color: gray;
    outline: gray;
    margin-top: 12px;
}

.f-w .msg-box {
    box-shadow: 0px 1px 2px inset #dfe6e9;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.f-w .msg-box::-webkit-scrollbar {
    width: 10px;
}

.f-w .msg-box::-webkit-scrollbar-track {
    background: whitesmoke;
}

/* Handle */

.f-w .msg-box::-webkit-scrollbar-thumb {
    background: #dfe6e9;
    border-radius: 4px;
}

/* Handle on hover */

.f-w .msg-box::-webkit-scrollbar-thumb:hover {
    background: #dfe6e9;
}

.f-w .word-count {
    font-size: 12px;
}


.f-w .order-list {
    margin-top: 12px;
    margin-right: 12px;
    font-size: 10px;
    background-color: #a4b0be;
    padding: 12px 12px 10px 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
}

.f-w .word-count{
    font-size: 12px;
}

.f-w .input-group {
    width: 50%;
}

.f-w .date {
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    color: gray;
}

.f-w .name {
    margin-top: 12px;
    font-weight: 400;
}

.f-w .desc {
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
}

.fMW .data {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: #dfe6e9 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fMW .opt {
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    text-decoration: none !important;
}

.f-w .permBtn {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.download {
    display: none !important
}

.f-v-w {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fI {
    padding: 16px 12px;
    border-bottom: #dfe6e9 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fI .dyna {
    width: 100%;
    text-align: left;
}

.f-w .del-btn {
    color: #c0392b;
    margin-left: 8px;
    cursor: pointer;
}

.f-w .del-btn:hover {
    color: #e74c3c;
}

@media only screen and (max-width:992px) {
    .fIW {
        margin-left: 0px;
        margin-right: 0px;
        min-height: auto !important;
        align-self: auto !important;
    }
}