.f-w {
    margin-top: 20px;
}

.f-w .date {
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    color: gray;
}

.f-w .name {
    margin-top: 12px;
    font-weight: 400;
}

.f-w .del-btn {
    color: #c0392b;
    margin-left: 8px;
    cursor: pointer;
}

.f-w .del-btn:hover {
    color: #e74c3c;
}

.f-w .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    padding: 0;
    flex-direction: column;
    z-index: 9999 !important;
    right: 2%;
    top: 30px;
}

.f-w .dropdown-content .s-l {
    margin: 0px;
    display: block;
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f-w .dropdown-content .s-l:hover {
    background-color: #f5f6fa;
}

.f-w .desc {
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
}

.f-w .btnAdd {
    margin-top: 12px;
    font-weight: 300;
    background-color: #2c3e50;
    color: white;
}

.f-w .btn .fa {
    padding-right: 10px;
}

.f-w .btnAdd:hover {
    background-color: #34495e;
    color: white;
}

.f-w .input-group {
    width: 50%;
}

.f-w .opt {
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    text-decoration: none !important;
}

.f-w .permBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.download {
    display: none !important
}

.f-v-w {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fI {
    padding: 16px 12px;
    border-bottom: #dfe6e9 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fI:hover {
    background-color: #dfe6e9;
}

.fI .dyna {
    width: 100%;
    text-align: left;
}
