.mFW {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.fIW {
    padding: 12px 12px 12px 12px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.24);
    border-bottom: solid 5px #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: stretch;
}

.fIW img {
    width: 70px;
    height: 70px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.fIW .f-n {
    word-break: break-all;
}

.fIW .f-r {
    text-align: center;
    word-break: break-all;
}

.fIW .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2c3e50;
    overflow: hidden;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: .5s ease;
}

.fIW:hover .overlay {
    height: 100%;
}

.fIW .overlayH {
    height: 100% !important;
}

.fIW .overlay .text {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fIW .overlay .subtext {
    color: white;
    margin-top: 8px;
    font-size: 14px;
}

.fI {
    padding: 16px 12px;
    border-bottom: #dfe6e9 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fI:hover {
    background-color: #dfe6e9;
}

.fI .dyna {
    width: 100%;
    text-align: left;
}

.fLW {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    min-height: 22vh;
}