.u-s-w {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.u-s-w .us-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.u-s-w .logo-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.u-s-w .user-p {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: 1000px;
}

.u-s-w .user-p .user-text {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    margin: auto auto auto 12px;
    text-align: center;
    color: #636e72;
}

.u-s-w .user-p .elipsis {
    margin-top: auto;
    margin-bottom: auto;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/elipsis-g.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

.u-s-w img {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
}

.u-s-w .notifS {
    color: white;
    background-color: red;
    float: right;
    position: absolute;
    font-size: 11px;
    font-weight: 700;
    border-radius: 1000px;
    width: 18px;
    height: 18px;
    top: -5px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-s-w .logo-user .logo {
    width: 40px;
    margin-top: 12px;
    margin-right: 8%;
}

.u-s-w .logo-user .h {
    margin-top: 30px;
    letter-spacing: 3px;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.u-s-w .a {
    color: #008CBD !important;
    background-color: #fff;
    font-weight: 600 !important;
}

.u-s-w .s-l {
    display: block;
    padding: 8px 15px;
    margin: 0px 0px 0px 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-decoration: none;
    color: #636e72;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    position: relative;
}

.u-s-w .s-la {
    display: block;
    padding: 8px 15px;
    margin: 0px 0px 0px 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-decoration: none;
    color: #636e72;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    position: relative;
}

.u-s-w .s-la:hover {
    color: #3AAED5;
    background-color: #fff;
}

.u-s-w .s-l:hover {
    color: #3AAED5;
}

.u-s-w .s-l .fa {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.u-s-w .s-l .feed {
    background-image: url('../../assets/sidenav/G-dashboard.svg');
    background-size: contain;
}

.u-s-w .a .feed {
    background-image: url('../../assets/sidenav/B-dashboard.svg');
    background-size: contain;
}

.u-s-w .s-l .org {
    background-image: url('../../assets/sidenav/G-organization.svg');
    background-size: contain;
}

.u-s-w .a .org {
    background-image: url('../../assets/sidenav/B-organization.svg');
    background-size: contain;
}

.u-s-w .s-l .astr {
    background-image: url('../../assets/sidenav/G-My\ Space.svg');
    background-size: contain;
}

.u-s-w .a .astr {
    background-image: url('../../assets/sidenav/B-My\ Space.svg');
    background-size: contain;
}

.u-s-w .s-l .emp {
    background-image: url('../../assets/sidenav/G-users.svg');
    background-size: contain;
}

.u-s-w .a .emp {
    background-image: url('../../assets/sidenav/B-users.svg');
    background-size: contain;
}

.u-s-w .s-l .transfer {
    background-image: url('../../assets/sidenav/G-Data\ Transfer.svg');
    background-size: contain;
}

.u-s-w .a .transfer {
    background-image: url('../../assets/sidenav/B-Data\ Transfer.svg');
    background-size: contain;
}

.u-s-w .s-l .proj {
    background-image: url('../../assets/sidenav/G-Projects\ \(2\).svg');
    background-size: contain;
}

.u-s-w .a .proj {
    background-image: url('../../assets/sidenav/B-Projects\ \(2\).svg');
    background-size: contain;
}

.u-s-w .str {
    background-size: contain;
    background-image: url('../../assets/My\ space-side\ nav.svg');
}

.u-s-w .menu {
    margin: auto auto;
    width: 26px;
    height: 26px;
    background-image: url('../../assets/hamW.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 6px;
    margin-bottom: 0px;
}

.u-s-w .s-l .sn {
    background-size: contain;
    background-image: url('../../assets/sidenav/G-Team\ up.svg');
}

.u-s-w .a .sn {
    background-size: contain;
    background-image: url('../../assets/sidenav/B-Team\ up.svg');
}

.u-s-w .s-l .plans {
    background-size: contain;
    background-image: url('../../assets/sidenav/G-My\ Plans.svg');
}

.u-s-w .a .plans {
    background-size: contain;
    background-image: url('../../assets/sidenav/B-My\ Plans.svg');
}

.u-s-w .s-l .cloud {
    background-image: url('../../assets/sidenav/G-Client\ request.svg');
    background-size: contain;
}

.u-s-w .a .cloud {
    background-image: url('../../assets/sidenav/B-Client\ request.svg');
    background-size: contain;
}

.u-s-w .s-l .clock {
    background-image: url('../../assets/sidenav/G-Recent.svg');
    background-size: contain;
}

.u-s-w .a .clock {
    background-image: url('../../assets/sidenav/B-Recent.svg');
    background-size: contain;
}

.u-s-w .s-l .poll {
    background-image: url('../../assets/sidenav/G-Polling\ \(2\).svg');
    background-size: contain;
}

.u-s-w .a .poll {
    background-image: url('../../assets/sidenav/B-Polling\ \(2\).svg');
    background-size: contain;
}

.u-s-w .s-l .share {
    background-image: url('../../assets/sidenav/G-Shared.svg');
    background-size: contain;
}

.u-s-w .a .share {
    background-image: url('../../assets/sidenav/B-Shared.svg');
    background-size: contain;
}

.u-s-w .s-l .file {
    background-image: url('../../assets/sidenav/G-Admin\ Files\ \(2\).svg');
    background-size: contain;
}

.u-s-w .a .file {
    background-image: url('../../assets/sidenav/B-Admin\ Files\ .svg');
    background-size: contain;
}

.u-s-w .s-l .files {
    background-image: url('../../assets/sidenav/G-All\ FIles.svg');
    background-size: contain;
}


.u-s-w .a .files {
    background-image: url('../../assets/sidenav/B-All\ Files.svg');
    background-size: contain;
}

@media only screen and (max-width:992px) {

    .u-s-w {
        min-height: auto;
        height: auto;
        flex: none !important;
        overflow-y: hidden !important;
        box-shadow: 0 16px 12px 2px rgba(0, 0, 0, 0.07), 0 16px 12px 2px rgba(0, 0, 0, 0.15);
    }
    .u-s-w .logo {
        margin-right: 3% !important;
        margin-left: 5%;
    }

    .u-s-w .user-p {
        width: fit-content;
        margin: 0px auto;
    }

    .u-s-w .user-p .user-text {
        margin-left: 12px;
        margin-right: 24px;
    }

    .u-s-w .logo-user .logo {
        margin-top: 0px;
    }
    .u-s-w .logo-user .h {
        margin-top: 12px;
    }
    .u-s-w .logo-user {
        justify-content: flex-start;
    }
    .u-s-w .btnBurger {
        background-color: #008CBD;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        color: white;
        margin-right: 5%;
    }
    .u-s-w .a {
        border-right: none;
    }
    .u-s-w .btnBurger:hover {
        background-color: #3AAED5;
        color: white;
    }
}